In [6]:
# 패키지 임포트
import pandas as pd
import numpy as np
import seaborn as sns
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [64]:
# seaborn 패키지의 titanic 데이터셋을 load 하시오
titanic = sns.load_dataset("titanic")

#### 연습문제 1
- 타이타닉 호 승객에 대해서, 성별(sex) 인원수, 나이별(age) 인원수, 선실별(class) 인원수, 사망/생존(alive)인원수를 구하시오.

- 성별 인원수는 인덱스 기준으로 정렬하고
- 나이별 인원수는 값 기준 정렬
- 그 나머지는 임의 기준 정렬 하시오.

In [65]:
titanic['sex'].value_counts().sort_index()
titanic['alive'].value_counts().sort_index()
titanic['age'].value_counts().sort_values()
titanic['class'].value_counts().sort_values()

female    314
male      577
Name: sex, dtype: int64

no     549
yes    342
Name: alive, dtype: int64

12.00     1
24.50     1
66.00     1
20.50     1
0.67      1
         ..
19.00    25
28.00    25
18.00    26
22.00    27
24.00    30
Name: age, Length: 88, dtype: int64

Second    184
First     216
Third     491
Name: class, dtype: int64

#### 연습문제 2
- 성별에 따른 생존자수와 사망자수의 정보를 갖고 있는 데이터프레임 titanic_y_n 를 생성하시오
    - 0은 생존 1은 사망

![](데이터조작문제.PNG)

In [568]:
titanic_y_n = titanic.iloc[:,[0,2]]
fe = pd.DataFrame(titanic_y_n.loc[(titanic_y_n['sex']=='female')].value_counts())
ma =pd.DataFrame(titanic_y_n.loc[(titanic_y_n['sex']=='male')].value_counts())

fe = fe.set_index(0).sort_index().reset_index()
ma = ma.set_index(0).sort_index().reset_index()

ma['female'] = fe
ma.rename(columns={0:'male'})

   male  female
0   109      81
1   468     233

#### 연습문제
- 타이타닉호 승객을 사망자와 생존자 그룹으로 나누고(alive)
- 각 그룹에 대해 미성년자, 청년, 중년, 장년, 노년 승객의 비율을 구하시오.
    - bins=[1,15,25,35,60,99]
    - labels=['미성년자','청년','중년','장년','노년']
    - 각 그룹별 비유의 전체 합은 1이 되어야 한다.

In [479]:
passanger = titanic[['survived']]
passanger['age']= titanic[['age']]
passanger2 = passanger.fillna(alive['age'].mean()).astype(float)
alive = passanger2.loc[passanger2['survived']==1]
dead = passanger2.loc[passanger2['survived']==0]

dead = dead.drop('survived',1)
deadtoarray = dead.values.reshape(1,549).reshape(549)
cats= pd.cut(deadtoarray,bins=[1,15,25,35,60,99],labels=['미성년자','청년','중년','장년','노년'])
dead_cats= pd.value_counts(cats,normalize=True)

alive = alive.drop('survived',1)
alivetoarray = alive.values.reshape(1,len(alive)).reshape(len(alive))
acats=pd.cut(alivetoarray,bins=[1,15,25,35,60,99],labels=['미성년자','청년','중년','장년','노년'])
a_cats = pd.value_counts(acats,normalize=True)

dead_cats
a_cats

<ipython-input-479-2ef6abc206c7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  passanger['age']= titanic[['age']]

중년      0.435101
청년      0.261426
장년      0.213894
미성년자    0.058501
노년      0.031079
dtype: float64

중년      0.409091
장년      0.236364
청년      0.227273
미성년자    0.112121
노년      0.015152
dtype: float64

#### 연습문제
- ['id_1','id_2','id_3','id_4'] 와 같은 리스트 요소를
- 내포 for문을 이용해서 생성후 리스트로 추가하시오.

In [ ]:
# 고정문자열(id_)과 반복 요소(1,2,3,4)를  조합하는 코드를 내포  
# for문으로 만들어보세요

In [491]:
list_id = ['id_'+str(i) for i in range(4)]
list_id

['id_0', 'id_1', 'id_2', 'id_3']