In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all" #기본값은 'last_expr'

import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np

### 날짜 자동 생성: date_range 함수 사용 p.241

- 시리즈의 인덱스에 날짜 데이터를 사용
- 날짜표시: '년-월-일'

In [5]:
index_date = ['2018-10-07','2018-10-08','2018-10-09','2018-10-10']
s4 = pd.Series([200,195,np.nan, 205], index=index_date)
s4

print("=====================")

type(s4.index[0]) # 문자열형태

2018-10-07    200.0
2018-10-08    195.0
2018-10-09      NaN
2018-10-10    205.0
dtype: float64

=====================

str

- 판다스 패키지의 date_range 함수 (날짜생성)
    - pd.date_range(start=None, end=None, periods=None, freq='D')
    - start : 시작날짜
    - end= 끝날짜 
    - periods = 날짜 생성기간
    - fref = 날짜 생성 주기
    - start는 필수 옵션/end나 periods는 둘 중 하나가 있어야 함
    - freq는 기본 Day로 설정

<center><img src='date_freq.PNG' width='600'></center>

In [16]:
pd.date_range(start = '2018-10-01',end = '2018-10-20') 
#dtype='datetime64[ns]' 형태로 생성, 문자열 아님

DatetimeIndex(['2018-10-01', '2018-10-02', '2018-10-03', '2018-10-04',
               '2018-10-05', '2018-10-06', '2018-10-07', '2018-10-08',
               '2018-10-09', '2018-10-10', '2018-10-11', '2018-10-12',
               '2018-10-13', '2018-10-14', '2018-10-15', '2018-10-16',
               '2018-10-17', '2018-10-18', '2018-10-19', '2018-10-20'],
              dtype='datetime64[ns]', freq='D')

In [17]:
pd.date_range(start = '2018-10-01',end = '2018-10-20',freq = '3D') #3일씩 증가

DatetimeIndex(['2018-10-01', '2018-10-04', '2018-10-07', '2018-10-10',
               '2018-10-13', '2018-10-16', '2018-10-19'],
              dtype='datetime64[ns]', freq='3D')

In [18]:
pd.date_range(start = '2018-10-01',end = '2018-10-20',freq='W') 
# 1주일 씩 증가하는 날짜 생성 - 1주의 시작일으로 표시(일요일)

DatetimeIndex(['2018-10-07', '2018-10-14'], dtype='datetime64[ns]', freq='W-SUN')

In [21]:
pd.date_range(start = '2018-10-07',periods=4,freq='M') 
#start날짜를 포함하는 월별의 날짜 4개월간

DatetimeIndex(['2018-10-31', '2018-11-30', '2018-12-31', '2019-01-31'], dtype='datetime64[ns]', freq='M')

In [23]:
pd.date_range(start='2018-10-07',periods = 4, freq='MS')
#ms 초 단위 표시 월별 시작일은 MS사용

DatetimeIndex(['2018-11-01', '2018-12-01', '2019-01-01', '2019-02-01'], dtype='datetime64[ns]', freq='MS')

In [27]:
pd.date_range(start='2018-10-07',periods=4,freq='QS')
#분기 시작일 , 4개의 분기동안 출력

DatetimeIndex(['2019-01-01', '2019-04-01', '2019-07-01', '2019-10-01'], dtype='datetime64[ns]', freq='QS-JAN')

In [28]:
pd.date_range(start='2018-1-1',periods=4, freq ='AS')
#연도 첫날 기준으로 4개의 연도 첫날짜 생성

DatetimeIndex(['2018-01-01', '2019-01-01', '2020-01-01', '2021-01-01'], dtype='datetime64[ns]', freq='AS-JAN')